{% extends 'base.html' %}
{% block content %}
<div class="page">
  <h1 class="h1-responsive font-weight-bold text-center my-4">Portfolio</h1>
  <h2>{{ user.username }} has written {{ projects.count }} project{{ project.count|pluralize }}</h2>
  <p><a href="{% url 'createPortfolio' %}">create project</a></p>
  <div class="content">
     {% for project in projects %}
     <div class="card" style="width: 18rem">
       <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'detailp' project.id %}"><h2>{{ project.title }}</h2></a>
        </h5>
        <p class="card-text">{{ project.description }}</p>
        {% if project.url %}
          <p class="card-text"><br /><a href="{{ project.url }}">Link</a></p>
        {% endif %} 
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
