@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#login {
  padding: 5%;
  text-align: center;
}

.login-form {
  padding: 1rem;
  width: 25rem;
}

.register-form {
  width: 30rem;
  padding: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Navbar */
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: var(--bs-gray-200);
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  min-width: 150px;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: var(--bs-link-hover-color);
  color: white;
}

nav ul li.spacer {
  flex: 1;
}

nav li.last {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0 15px;
}
nav .last button {
  border: none;
  background: white;
  margin: 0;
  padding: 8px;
  outline: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
nav .last button:hover {
  color: white;
  background: black;
}

.message {
  text-align: center;
  margin: 30px 0;
  border: 1px solid;
  border-radius: 30px;
  padding: 0 15px;
}
.message.error {
  text-align: center;
  margin: 30px 0;
  border-color: var(--bs-danger);
  color: var(--bs-red);
}
.message.success {
  text-align: center;
  margin: 30px 0;
  border-color: var(--bs-success);
  color: var(--bs-success);
}

ul.errorlist {
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  color: var(--bs-red);
  font-size: 12px;
  list-style: none;
  padding: 0;
}

/* Page */
.page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100% - 52px);
  width: 100%;
  max-width: 900px;
  padding: 3rem;
}

.page .header .top .header-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page h1 {
  text-align: center;
  color: var(--bs-primary);
}

.page .md-form {
  position: relative;
  padding: 0 0 20px 0;
}

section.page > .row {
  padding: 30px;
  box-shadow: 0 0 25px -18px;
  border-radius: 30px;
  border: 1px solid var(--bs-gray-200);
}

.page .content {
  display: flex;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: center;
}

.page .content > .card {
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
}

.page .content > .card .card-img-top {
  max-width: 200px;
}

.page .page-btn {
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page .page-btn:hover, .page-btn-link:hover {
  background-color: black;
  color: white;
}

.edit-project .image-preview {
  max-width: 100px;
}

.page-btn-link {
  display: block;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

@media (max-width: 425px) {
  body {
    padding-top: 1rem;
  }

  .login-form {
    width: 95%;
  }

  .register-form {
    width: 95%;
  }
}
