{% extends 'base.html' %}

1. scholarship with teenagers, helping with studies with an emphasis on a mathematical subject.
  A little about the scholarship: we work for the community by helping and strengthening students who have a little more difficulty in various subjects (with an emphasis on mathematical subjects). We want to lead the community to success!
  Location: volunteering at the student's.
  Prerequisite: intends to study a science subject.
  The effort included: study approval, registration, interview.
  Amount: Varies, up to $5,000.
  Hours: 140 hours annually. 4 hours a week plus 2 hours enrichment workshops.



<details>
  <summary>1. scholarship with teenagers, helping with studies with an emphasis on a mathematical subject.</summary>
  <p>A little about the scholarship: we work for our community! We want to promote students who wish to become stronger in the world of programming, in addition we will encourage the community to gain knowledge in different programming languages.
    Location: Community center.")
    Prerequisite: 2nd year student or higher studying computer science or a related field.
    The effort included: study permit, registration, interview, grade point average above 85.
    Amount: Varies, up to $5,000")
    Working hours: 140 hours per year. 4 hours per week plus 2 hours enrichment workshops.
</p>
</details>

<html>
<body>

{% endblock %}