
{% extends 'base.html' %}
{% block content %}
Scholarship111

Scholarship

<html>
<body>

<h1>all scolarships</h1>

<details>
  <summary>1. scholarship with teenagers, helping with studies with an emphasis on a mathematical subject.</summary>
  <p>A little about the scholarship: we work for our community! We want to promote students who wish to become stronger in the world of programming, in addition we will encourage the community to gain knowledge in different programming languages.
    Location: Community center.")
    Prerequisite: 2nd year student or higher studying computer science or a related field.
    The effort included: study permit, registration, interview, grade point average above 85.
    Amount: Varies, up to $5,000")
    Working hours: 140 hours per year. 4 hours per week plus 2 hours enrichment workshops.
</p>
</details>
<details>
  <summary>2. scholarship with teenagers, helping with studies with an emphasis on a mathematical subject.</summary>
  <p>A little about the scholarship: we work for our community! We want to promote students who wish to become stronger in the world of programming, in addition we will encourage the community to gain knowledge in different programming languages.
    Location: Community center.")
    Prerequisite: 2nd year student or higher studying computer science or a related field.
    The effort included: study permit, registration, interview, grade point average above 85.
    Amount: Varies, up to $5,000")
    Working hours: 140 hours per year. 4 hours per week plus 2 hours enrichment workshops.
</p>
</details>

</body>
</html>



{% endblock %}


