{% extends 'base.html' %}
{% block content %}
scolarships
<!--<form action="{% url 'scolarships' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">Portfolio</button>-->
<!--    &lt;!&ndash;logout button&ndash;&gt;-->
<!--</form>-->
<p> 1. scholarship with teenagers, helping with studies with an emphasis on a mathematical subject.
A little about the scholarship: we work for the community by helping and strengthening students who have a little more difficulty in various subjects (with an emphasis on mathematical subjects). We want to lead the community to success!
Location: volunteering at the student's.
Prerequisite: intends to study a science subject.
The effort included: study approval, registration, interview.
Amount: Varies, up to $5,000.
Hours: 140 hours annually. 4 hours a week plus 2 hours enrichment workshops.
</p>
<!--<form action="{% url 'all_blogs' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">Blog</button>-->
<!--    &lt;!&ndash;logout button&ndash;&gt;-->
<!--</form>-->
<!--<form action="{% url 'userSettings' %}" method="GET">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">User settings</button>-->
<!--    &lt;!&ndash;logout button&ndash;&gt;-->
<!--</form>-->
{% endblock %}