
 {% extends 'global/page.html' %}
 {% block content %}
{%load static%}
<head>

    </div>
<h2>Enter volunteer hours</h2>

<form>
  <label for="scholarship_select">Select scholarship:</label>
  <select id="scholarship_select" name="scholarship_select">
    {% for d in scholardata  %}
      <option value="{{ scholarship.id }}">{{ d.title }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label for="hours">Enter hours:</label>
  <input type="number" id="hours" name="hours">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<div>

</body>
</html>
</body>
</html>
</table>
</div>
</div>
{% endblock content %}
{%load static%}

