{% extends 'global/page.html' %} {% block page_header_top %}
<div class="header-top-content text-center justify-content-center">
  <div>
    <h1 class="h1-responsive font-weight-bold">Scholarships</h1>
    <p class="text-center w-responsive mx-auto">
      Click on the register button to enroll
    </p>
  </div>
</div>
{% endblock %} {% block page_content %}
<div class="container">
  <div class="panel panel-primary">
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Title</th>
          <th>content</th>
          <th>Location</th>
          <th>requirements</th>
          <th>Amount</th>
          <th>Hours</th> 
          <th>Register</th> 
        </tr>
      </thead>

      {% for d in scholardata %}

        <td> {{d.title}}</td>
        <td>{{d.content}}</td>
        <td>{{d.Location}}</td>
        <td>{{d.requirements}}</td>
        <td>{{d.Amount}}</td>
        <td>{{d.Hours}}</td>
        <td><a href="{% url 'addscholarship' d.id %}"><i class="fas fa-arrow-circle-up"></i></a></td>
      </tr>
       <script>
        function changeColor(item) {
          if (item.style.backgroundColor === "yellow") {
            item.style.backgroundColor = "";
            item.innerHTML = "for Register";
          } 
          else {
            item.style.backgroundColor = "yellow";
            item.innerHTML = "Registered";
            window.location.href = "/add_scholarship/" + item.id;
         }
       }
        </script>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}







