 {% extends 'global/page.html' %}

{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Scholarships</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Title</th>
          <th>content</th>
          <th>Location</th>
          <th>requirements</th>
          <th>Amount</th>
          <th>Hours</th> 
          <th>Register</th> 
        </tr>
      </thead>

      {% for d in scholardata %}

        <td> {{d.title}}</td>
        <td>{{d.content}}</td>
        <td>{{d.Location}}</td>
        <td>{{d.requirements}}</td>
        <td>{{d.Amount}}</td>
        <td>{{d.Hours}}</td>
        <td>        
    
            <a href="{% url 'addscholarship' d.id %}"><span class="glyphicon glyphicon-circle-arrow-up"> </span></a></td>

      </tr>
       <script>
        function changeColor(item) {
          if (item.style.backgroundColor === "yellow") {
            item.style.backgroundColor = "";
            item.innerHTML = "for Register";
          } 
          else {
            item.style.backgroundColor = "yellow";
            item.innerHTML = "Registered";
            window.location.href = "/add_scholarship/" + item.id;
         }
       }
        </script>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
{%load static%}







