 {% extends 'global/page.html' %}

<!-- {% block page_header_top %}

{% for x in scholardata %}
    <details>
    <summary>{{ x.title}}</summary>
         {% csrf_token %}
           <h3>{{ x.content }}</h3><br>
        <h3>{{ x.Location }}</h3><br>
       <h3>{{ x.requirements }}</h3><br>
        <h3>{{ x.Amount }}</h3><br>
        <h3>{{ x.Hours }}</h3><br>

    </details>

    {% endfor %}

{% endblock page_header_top %} --> -->

{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Scholarships</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Title</th>
          <th>content</th>
          <th>Location</th>
          <th>requirements</th>
          <th>Amount</th>
          <th>Hours</th> 
          <th>Add</th> 
        </tr>
      </thead>

      {% for d in scholardata %}

        <td> {{d.title}}</td>
        <td>{{d.content}}</td>
        <td>{{d.Location}}</td>
        <td>{{d.requirements}}</td>
        <td>{{d.Amount}}</td>
        <td>{{d.Hours}}</td>
        <td>        <li>
            <a href="{% url 'addscholarship' d.id %}"><span class="glyphicon glyphicon-circle-arrow-up"> </span></a></li></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}