{% extends 'global/page.html' %}

{% block content %}
<center>
    {% if searched %}
<h1>you search for {{ searched }}</h1>
<br/>
{% if blogs %}
<h2>found blogs</h2>
{% for blog in blogs %}
   <a href="{% url 'detail' blog.id %}">{{ blog.title }}</a><br/>
{% endfor %}
{% endif %}

{% if projects %}
<h2>found projects</h2>
{% for project in projects %}
   <a href="{% url 'detailp' project.id %}">{{ project.title }}</a><br/>
{% endfor %}
{% endif %}


{% if users %}
<h2>found people</h2>
{% for user in users %}
   <a href="{% url 'user_profile' user.id %}">{{ user.username }}</a><br/>
{% endfor %}
{% endif %}



{% endif %}


</center>


{% endblock %}