{% extends 'base.html' %} {% block content %}
{% if form.errors  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">There was an error
  <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
</div>
{% endif %}
<div class="page">
  <h1 class="h1-responsive font-weight-bold">Sign Up</h1>
  {% include 'global/responseMessage.html' %}
  <div class="row content">
    <div class="card register-form">
      <form method="post" class="form-container" action="{% url 'signupuser' %}">
        {% csrf_token %}
        <div class="input-group mb-1">
          <input
            maxlength="150"
            autocapitalize="none"
            autocomplete="username"
            autofocus
            required
            name="username"
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-1">
          <input
            maxlength="150"
            autocapitalize="none"
            autocomplete="first_name"
            required
            placeholder="First name"
            type="text"
            class="form-control"
            name="first_name"
            aria-label="first_name"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-1">
          <input
            maxlength="150"
            autocapitalize="none"
            autocomplete="last_name"
            required
            placeholder="Last name"
            type="text"
            class="form-control"
            name="last_name"
            aria-label="last_name"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-1">
          <input
            maxlength="150"
            autocapitalize="none"
            autocomplete="email"
            required
            name="email"
            type="text"
            class="form-control"
            placeholder="email"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-1">
          <input
            maxlength="150"
            autocapitalize="none"
            autocomplete="date_of_birth"
            required
            name="date_of_birth"
            type="date"
            class="form-control"
            placeholder="date_of_birth"
            aria-label="date_of_birth"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-1">
          <label for="gender" class="form-control" placeholder="Gender">Gender</label>
          <select id="gender" name="gender" class="form-control">
              {% for value, label in form.fields.gender.choices %}
                  <option value="{{ value }}" {% if value == form.gender.value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
          {%if form.errors.gender %}
          <p>{{ form.errors.gender }}</p>
          {% endif %}
      </div>
      <p>Please fill this field just if you are a student</p>
      <div class="input-group mb-1">
        
        <label for="college" class="form-control" placeholder="academic institution">academic institution</label>
        <select id="college" name="college" class="form-control">
            {% for value, label in form.fields.college.choices %}
                <option value="{{ value }}" {% if value == form.college.value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        {%if form.errors.college %}
        <p>{{ form.errors.college }}</p>
        {% endif %}
    </div>
    <div class="input-group mb-1">
      <label for="major" class="form-control" placeholder="major">Major</label>
      <select id="major" name="major" class="form-control">
          {% for value, label in form.fields.major.choices %}
              <option value="{{ value }}" {% if value == form.major.value %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
      </select>
      {%if form.errors.major %}
      <p>{{ form.errors.major }}</p>
      {% endif %}
        </div>
        <div class="input-group my-1">
          <input
            name="password1"
            autocomplete="new-password"
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
          
        <div class="text-dark" style="width: 95%">
          <span style="font-weight: 500">Note: </span>
          <span>Make sure your password fits following criteria</span>
          <ul class="text-muted" style="list-style-type: circle">
            <li>
              Your password can’t be too similar to your other personal
              information.
            </li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
        </div>
        <div class="input-group mt-1 mb-3">
          <input
            name="password2"
            type="password"
            autocomplete="new-password"
            class="form-control"
            placeholder="Confirm Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
        <select name="user_type" id="user_type" required>
          <option selected disabled>Choose a role</option>
          <option value="student">Student</option>
          <option value="investor">Investor</option>
        </select>
        <button
          type="submit"
          class="btn btn-success"
          style="margin-bottom: 0.5rem; width: 50%"
        >
          Sign Up
        </button>
        <a href="/login" class="btn btn-primary" style="width: 50%"
          >Sign In With an Existing Account</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
